{% extends 'index/layout.html.twig' %}

{% block title %}Get data quickly - Scraper Data Portal{% endblock %}

{% block content %}

  {% for ad in ads %}
  <div class="ad">
    <div class="ad-title">
      {{ ad.title }}
    </div>

    <div class="ad-contents">
      {{ ad.features }}
    </div>
  </div>
  {% endfor %}

{% endblock %}
