{% extends 'avtonet/base.html' %}
{% load humanize %}

{% block title %}Ad details - {{ carAd.id }}{% endblock %}

{% block content %}
<div class="ad-details">
    <h1 class="ad-title">{{ carAd.title }}</h1>
    <div class="ad-price">{{ carAd.price|floatformat:0|intcomma }} €</div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'avtonet:update' carAd.id %}" method="post">
    {% csrf_token %}

    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ carAd.title }}" >

    <input type="submit" value="Update" />
    </form>
</div>
{% endblock %}
