{% extends 'avtonet/base.html' %}
{% load humanize %}

{% block content %}
<div class="ads-list">
{% for ad in latest_ads_list %}
    <div class="ad">
        <a class="ad-title" href="{% url 'avtonet:details' ad.id %}">{{ ad.title }}</a></h4>
        <div class="ad-price">{{ ad.price|floatformat:0|intcomma }} €</div>

        <div class="cards">
            <div class="card">
                <div class="card-title">Letnik 1. registracije</div>
                <div class="card-content">
                    {%if ad.first_registration_year %}
                        {{ ad.first_registration_year }}
                    {% else %}
                        <span class="no-data">Ni podatka</span>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-title">Tehnični pregled</div>
                <div class="card-content">
                    {% if ad.safety_inspection_until_year %}
                        {%if ad.safety_inspection_until_month %}
                            {{ ad.safety_inspection_until_month }} /
                        {% endif %}
                        {{ ad.safety_inspection_until_year }}
                    {% else %}
                        <span class="no-data">Ni podatka</span>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-title">Prevoženi kilometri</div>
                {% if ad.driven_distance %}
                    <div class="card-content">{{ ad.driven_distance }}</div>
                {% else %}
                    <span class="no-data">Ni podatka</span>
                {% endif %}
            </div>
    
            <br />
            <div class="card">
                <div class="card-title">Motor</div>
                <div class="card-content">
                    {% if ad.engine_type %}
                        {{ ad.engine_type.type_name }}

                        {% if ad.engine_volume_ccm %}
                            {{ ad.engine_volume_ccm }} ccm
                        {% endif %}
                        {% if ad.engine_power_kw %}
                            {{ ad.engine_power_kw }} kW
                        {% endif %}
                        {% if ad.engine_power_hp %}
                            ({{ ad.engine_power_hp }} KM)
                        {% endif %}
                    {% else %}
                        <span class="no-data">Ni podatka</span>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-title">Menjalnik</div>
                <div class="card-content">
                    {% if ad.transmission_type %}
                        {{ ad.transmission_type.type_name }}
                        {% if ad.number_of_gears %}
                            {{ ad.number_of_gears }} prestav
                        {% endif %}
                    {% else %}
                        <span class="no-data">Ni podatka</span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if ad.location %}
        <p>Lokacija ogleda: <strong>{{ ad.location }}</strong></p>
        {% endif %}
    </div>
{% empty %}
    <p>No ads were found.</p>
{% endfor %}
</div>
{% endblock %}
